<% if flash[:error] then %>
 <div class="row flash span12">
   <div class="flash-item error">
     <%= flash[:error] %>
  </div>
</div>
<% end %>

<div class="row down50">

  <div class="span5">

    <form id="contributor-form" data-validate="parsley" accept-charset="UTF-8" action="/confirm" class="new_user" method="post">	

      <label class="down10" for="fullname">Full Name*</label>
      <input class="span5" id="full_name" name="fullname" type="text" data-required="true" value="<%= data['fullname'] %>" />

      <label class="down20" for="email">Email*</label>
      <span class="help-block">
	  If you are using O'Reilly Atlas, this email address should match the 
	  address used in the project's commit history. <a href="/faq">Learn more.</a>
      </span>
      <input class="span5" 
            id="email" name="email" size="30" 
            type="email" data-trigger="change" data-required="true" data-type="email" value="<%= data['email'] %>" />

      <label class="down20" for="email">GitHub Handle</label>
      <span class="help-block">
	  If you are using O'Reilly Atlas, please supply your github handle. <a href="/faq">Learn more.</a>
      </span>
      <input class="span5" 
            id="github_handle" name="github_handle" size="30" 
            value="<%= data['github_handle'] %>" />

 
      <input type="submit" id="validate-contributor" span="4" class="btn medium green block down10" value="I agree to the CLA."</input>

</form>
  </div>
  <div class="span1">&nbsp;</div>
  <div class="span6">

    <div class="box box-white" id="tos">
      <h3>O'Reilly Contributor License Agreement ("CLA")</h3>
      <div class="box-inner" style="height: 350px; overflow: auto;">
         <%= $CLA_HTML %>
      </div>
    </div>

  </div>
</div>
